@{
    string fName = null,lName=null,iban=null,dob=null,gender=null,height=null,email=null,phone=null,status=null;

    //Splitter for interests array
    char splitter = ',';

    string[] interestsPicked = {};

    //When "Apply" button clicked, run this code
    if (IsPost)
    {
        fName = Request.Form["firstName"];
        lName = Request.Form["lastName"];
        iban = Request.Form["iban"];
        dob = Request.Form["dob"];
        gender = Request.Form["gender"];
        height = Request.Form["height"];
        email = Request.Form["email"];
        phone = Request.Form["phone"];
        status = Request.Form["status"];

        //Assign each interest checked a place in the interests array
        if (Request.Form["interests"] != null)
        {
            interestsPicked = Request.Form["interests"].Split(splitter);
        }

    }
}

<!DOCTYPE html>
<html>
    <head>
        <title>Dating Site Form</title>
        <link type="text/css" rel="stylesheet" href="Style.css?version=5"/>
    </head>
<body>
<form method="post">
    <fieldset>
        <legend>Application Form</legend>
        <fieldset id="personalDetails">
            <legend>Personal Information</legend>
            <label for="firstName" class="PersonalInfo">First Name</label><input type="text" value="@fName" name="firstName" id="firstName" />
            <label for="lastName" class="PersonalInfo">Last Name</label><input type="text" value="@lName" name="lastName" id="lastName" />
            <label for="iban" class="PersonalInfo">IBAN</label><input type="text" value="@iban" name="iban" id="iban" />
            <label for="dob" class="PersonalInfo">Date of Birth</label><input type="date" value="@dob" name="dob" id="dob" />
            <label for="height" class="PersonalInfo">Height</label><input type="text" value="@height" name="height" id="height" />
            <label for="email" class="PersonalInfo">Email Address</label><input type="text" value="@email" name="email" id="email" />
            <label for="phone" class="PersonalInfo">Irish Phone No.</label><input type="text" value="@phone" name="phone" id="phone" />
            <label for="status" class="PersonalInfo">Relationship Status</label><select id="status" name="status">
                <!--Check if the same value was picked last time. If it is, then select it-->
                <option value="NeverMarried" @(status == "NeverMarried" ? " selected" : "")>Never Married</option>
                <option value="Seperated" @(status == "Seperated" ? " selected" : "")>Seperated</option>
                <option value="Divorced" @(status == "Divorced" ? " selected" : "")>Divorced</option>
                <option value="Widowed" @(status == "Widowed" ? " selected" : "")>Widowed</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>Gender</legend>
            <!--Check if the same value was picked last time. If it is, then check it. Male is checked as a default-->
            <label for="gender1" class="selectionBoxLabel">Male</label><input type="radio" name="gender" value="Male" id="gender1" checked @(gender == "Male" ? " checked" : "")/>
            <label for="gender2" class="selectionBoxLabel">Female</label><input type="radio" name="gender" value="Female" id="gender2" @(gender == "Female" ? " checked" : "")/>
        </fieldset>
        <fieldset>
            <legend>Interests</legend>
            <!--Check if array contains each interest that was picked last time, leaves checked if present-->
            <label for="interests1" class="selectionBoxLabel" >Outdoor Sports</label><input type="checkbox" name="interests" value="Outdoor Sports" id="interests1" @(interestsPicked.Contains("Outdoor Sports") ? " checked" : "") />
            <label for="interests2" class="selectionBoxLabel">Food</label><input type="checkbox" name="interests" value="Food" id="interests2" @(interestsPicked.Contains("Food") ? " checked" : "")/>
            <label for="interests3" class="selectionBoxLabel">Pubs</label><input type="checkbox" name="interests" value="Pubs" id="interests3" @(interestsPicked.Contains("Pubs") ? " checked" : "")/>
            <label for="interests4" class="selectionBoxLabel">Cinema</label><input type="checkbox" name="interests" value="Cinema" id="interests4" @(interestsPicked.Contains("Cinema") ? " checked" : "")/>
            <label for="interests5" class="selectionBoxLabel">Theatre</label><input type="checkbox" name="interests" value="Theatre" id="interests5" @(interestsPicked.Contains("Theatre") ? " checked" : "")/>
            <label for="interests6" class="selectionBoxLabel">Music</label><input type="checkbox" name="interests" value="Music" id="interests6" @(interestsPicked.Contains("Music") ? " checked" : "")/>
            <label for="interests7" class="selectionBoxLabel">Reading</label><input type="checkbox" name="interests" value="Reading" id="interests7" @(interestsPicked.Contains("Reading") ? " checked" : "")/>
            <label for="interests8" class="selectionBoxLabel">Gaming</label><input type="checkbox" name="interests" value="Gaming" id="interests8" @(interestsPicked.Contains("Gaming") ? " checked" : "")/>
            <label for="interests9" class="selectionBoxLabel">Watching Sport</label><input type="checkbox" name="interests" value="Watching Sport" id="interests9" @(interestsPicked.Contains("Watching Sport") ? " checked" : "")/>
            <label for="interests10" class="selectionBoxLabel">Board Games</label><input type="checkbox" name="interests" value="Board Games" id="interests10" @(interestsPicked.Contains("Board Games") ? " checked" : "")/>
        </fieldset>
        <div id ="buttonHolder"><button type="submit">Apply</button></div>
    </fieldset>
</form>
<h2>Output</h2>
<!--Ouput all the information obtained in the form, as well as the number of interests picked-->
<label class="output">First Name: @fName</label>
<label class="output">Last Name: @lName</label>
<label class="output">IBAN: @iban</label>
<label class="output">Date of Birth: @dob</label>
<label class="output">Gender: @gender</label>
<label class="output">Height: @height</label>
<label class="output">Email: @email</label>
<label class="output">Phone: @phone</label>
<label class="output">Status: @status</label>
<label class="output">Interests: @{
                        foreach (string interest in interestsPicked)
                        {
                            @interest
                            @splitter
                            
                        }
                      }</label>
<label class="output">Number of Interests: @interestsPicked.Length</label>
                    
                    
                    
                    
                    
                    
                    

                    
</body>
</html>
